@charset "utf-8";

body, h1, h2, h3, ul, li, p, span {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
ul li {
    float: left;
}
a {
    text-decoration: none;
    color: #333;
}
.clear::after {
    content: "";
    display: block;
    clear: both;
}
#wrap {}
header {
    width: 1920px;
    height: 100px;
    border-bottom: 1px solid rgb(196, 196, 196);
}
.top_logo {
    float: left;
    margin-top: 36px;
    margin-left: 40px;
}
.top_logo img {
    width: 180px;
    height: 36px;
}
.gnb {}
.gnb li {
    width: 150px;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    text-align: center;
    position: relative;
}
.gnb>ul>li:hover {
    border-bottom: 2px solid red;
}
.gnb li a {
    display: inline-block;
}
.gnb li ul li a {
    display: inline-block;
}
.sub_menu {
    display: none;
    position: absolute;
    left: 0px;
    width: 100%;
    min-width: 800px;
}
.gnb>ul>li:hover>ul {
    display: block;
}
.box {
    float: right;
}
.box .address {
    float: left;
    top: 100px;
    left: 0;
}
#visual {
    margin-top: 100px;
}
#content {}
footer {}